allure-pytest==2.9.45
allure-python-commons==2.9.45
asttokens==2.0.5
attrs==21.4.0
autopep8==1.6.0
certifi==2022.6.15
charset-normalizer==2.0.12
distconfig3==1.0.1
idna==3.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycryptodome==3.15.0
PyHamcrest==2.0.3
pyparsing==3.0.9
pytest==7.1.2
pytest-dependency==0.5.1
pytest-order==1.0.1
PyYAML==6.0
requests==2.28.0
semantic-version==2.8.5
six==1.16.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
vyper-config==1.1.1
watchdog==2.1.9
